{% extends "base.html.twig" %}

{% block title %}
	Création d'un article
{% endblock %}

{% block body %}
	<section class="mt-8 mb-8">
		<div class="container">
			<h1>Nouvel article</h1>
			{{ form_start(formView) }}

			{{ form_errors(formView) }}

			{# {{ form_widget(formView) }} #}

			<div class="row">
				{{ form_start(formView) }}
				{{ form_row(formView.titre) }}
				{{ form_row(formView.mainPicture) }}
				{{ form_row(formView.auteur) }}
				{{ form_row(formView.contenu) }}
				{{ form_label(formView.dateCreation, null, {'label_attr': {'class':'form-label'}}
				) }}
				{{ form_widget(formView.dateCreation, {'attr': {'class':'form-control'}}) }}
				{# {{ form_row(formView.best) }} #}

				{{ form_widget(formView.Brouillon)}}
				{{ form_widget(formView.Envoyer)}}
				{{ form_rest(formView) }}
				{{ form_end(formView) }}
			</div>
		</div>
	</section>

	{# <button type="submit" class="btn btn-primary">
	<<<<<<< HEAD
																																<i class="fas fa-save"></i>
																																Créer le produit
																															</button> #}
	=======
	<i class="fas fa-save"></i>
	Créer le produit
</button>
#}
>>>>>>> 20161d8f448cab9b1224bcf5b3991208707b376e

{{ form_end(formView) }}{% endblock %}
